<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.mapper.CarBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.bean.CarBaseInfo">
        <id column="ID" property="id" />
        <result column="SHOP_ID" property="shopId" />
        <result column="BRAND_ID" property="brandId" />
        <result column="NAME" property="name" />
        <result column="PRICE" property="price" />
        <result column="GUIDE_PRICE" property="guidePrice" />
        <result column="CAR_AGE" property="carAge" />
        <result column="WHOLESALE_PRICE" property="wholesalePrice" />
        <result column="OPERATION_TIME" property="operationTime" />
        <result column="IS_SALE_ACCOMPANY" property="isSaleAccompany" />
        <result column="FIRST_PAY" property="firstPay" />
        <result column="MONTH_PAY" property="monthPay" />
        <result column="STAGE" property="stage" />
        <result column="MILE" property="mile" />
        <result column="TRANSFER_NUM" property="transferNum" />
        <result column="TYPE" property="type" />
        <result column="SALE_STATUS" property="saleStatus" />
        <result column="STATUS" property="status" />
        <result column="CREATER" property="creater" />
        <result column="CREATEDATE" property="createdate" />
        <result column="UPDATER" property="updater" />
        <result column="UPDATEDATE" property="updatedate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SHOP_ID, BRAND_ID, NAME, PRICE, GUIDE_PRICE, CAR_AGE, WHOLESALE_PRICE, OPERATION_TIME, IS_SALE_ACCOMPANY, FIRST_PAY, MONTH_PAY, STAGE, MILE, TRANSFER_NUM, TYPE, SALE_STATUS, STATUS, CREATER, CREATEDATE, UPDATER, UPDATEDATE
    </sql>

</mapper>
