<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.mapper.CarChassisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.bean.CarChassis">
        <id column="ID" property="id"/>
        <result column="DRIVE_WAY" property="driveWay"/>
        <result column="BASE_INFO_ID" property="baseInfoId"/>
        <result column="BOOST_TYPE" property="boostType"/>
        <result column="STRUCTURE" property="structure"/>
        <result column="STATUS" property="status"/>
        <result column="CREATER" property="creater"/>
        <result column="CREATEDATE" property="createdate"/>
        <result column="UPDATER" property="updater"/>
        <result column="UPDATEDATE" property="updatedate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BASE_INFO_ID,DRIVE_WAY, BOOST_TYPE, STRUCTURE, STATUS, CREATER, CREATEDATE, UPDATER, UPDATEDATE
    </sql>

</mapper>
