<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.mapper.CarShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.bean.CarShop">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="PHONE" property="phone"/>
        <result column="PASSWORD" property="password"/>
        <result column="USER_ROLE" property="userRole"/>
        <result column="SHOP_NAME" property="shopName"/>
        <result column="SHOP_YEAR" property="shopYear"/>
        <result column="LOGO" property="logo"/>
        <result column="PROVINCE" property="province"/>
        <result column="CITY" property="city"/>
        <result column="AREA" property="area"/>
        <result column="ADDRESS" property="address"/>
        <result column="STATUS" property="status"/>
        <result column="CREATER" property="creater"/>
        <result column="CREATEDATE" property="createdate"/>
        <result column="UPDATER" property="updater"/>
        <result column="UPDATEDATE" property="updatedate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, USER_NAME, PHONE, PASSWORD, USER_ROLE, SHOP_NAME,SHOP_YEAR, LOGO, PROVINCE, CITY, AREA, ADDRESS, STATUS, CREATER, CREATEDATE, UPDATER, UPDATEDATE
    </sql>

    <resultMap id="BaseResultMapVo" extends="BaseResultMap" type="com.sg.bean.vo.CarShopVo">

    </resultMap>

    <!--分页查询-->
    <select id="selectShopInfoPage" resultMap="BaseResultMapVo">
        select
        <include refid="Base_Column_List"></include>
        from TB_CAR_SHOP a
        <where>
            a.status = 1
            <if test="record != null">

            </if>
        </where>
        order by a.CREATEDATE desc
    </select>

    <!--根据店铺id查询车辆销售数量-->
    <select id="selectCarSaleInfoByShopId" resultType="com.sg.bean.vo.CarSaleInfoVo" parameterType="map">
       SELECT
	a.SALE_STATUS saleStatus,
	count(1) AS carCount
        FROM
            TB_CAR_BASE_INFO a
        WHERE
            a.SHOP_ID = #{shopId}
        GROUP BY
            a.SALE_STATUS
    </select>
</mapper>
